{{- $title := .Get 0 | default "Развернуть" -}}
{{- $icon := .Get "icon" | default "▶" -}}
{{- $class := .Get "class" | default "" -}}
{{- $open := .Get "open" | default false -}}
{{- $variant := .Get "variant" | default "default" -}}

<details class="expand-container expand-{{ $variant }} {{ $class }}"{{ if $open }} open{{ end }}>
    <summary class="expand-header">
        <span class="expand-icon">{{ $icon }}</span>
        <span class="expand-title">{{ $title }}</span>
        <span class="expand-chevron">⌄</span>
    </summary>
    <div class="expand-content">
        {{ .Inner | markdownify }}
    </div>
</details>
